extends ../layouts/layouts
block content
    br
    table.table
        thead.thead-dark
            tr
                th Email
                th Phone
        tbody
            tr
                td=user.email
                td=user.phone
